@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
  background: linear-gradient(
    90deg,
    rgba(41, 25, 184, 0.329) 0%,
    rgb(187, 192, 173) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* !important to overwrite bootstrap styling */
.navbar {
  background-color: rgba(127, 131, 190, 0.76) !important;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  /* padding: 0 20px;
  background-color: aquamarine; */
  background: linear-gradient(
    90deg,
    rgba(193, 196, 18, 0.7) 0%,
    rgb(59, 59, 63) 100%
  );
  z-index: 1;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

h1 {
  font-size: 20px !important;
}

.btn {
  background-color: rgba(117, 124, 123, 0.932) !important;
  color: white !important;
  box-shadow: none !important;
}

.bs {
  box-shadow: rgba(61, 63, 70, 0.582) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 15px !important;
  padding: 20px !important;
  background: linear-gradient(
    90deg,
    rgba(224, 223, 226, 0.329) 100%,
    rgb(153, 125, 118) 100%
  );
}

.bigimg {
  height: 15rem;
  border-radius: 5px !important;
}

input,
.ant-picker {
  box-shadow: none !important;
  margin-top: 10px;

  box-shadow: none !important;
  margin-top: 10px;

  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2 {
  font-size: 30px !important;
  padding: 10px !important;
  font-weight: bold !important;
  text-align: center;
}

.dropdown-toggle {
  border: 0px solid rgb(0, 0, 0) !important;
}
